# server config
NODE_ENV="development"
PORT=5000

FRONTEND_URL=
DEV_FRONTEND_URL=http://localhost:5173


DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=auth_system
DB_PORT=3306

JWT_SECRET=

# resend api config
Resend_API_KEY=